.main{
    display: flex;
    background-color: #cccccc; /* Used if the image is unavailable *//* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height:80vh;
    background-position: center;
    margin-top:40px;
}
.backgroundcolor{
    display: flex;
    flex-direction: column;
    width:100%;
    background:linear-gradient(to left,rgb(24, 32, 50,0.3) 0%,rgb(24, 32, 50,0.9) 100%);
    padding:70px 35px;
}
.text{
    width:50%;
}
.first{
    font-weight: 600;
    font-size:50px;
}
.second{
    margin-top:30px;
    font-weight: 400;
    font-size:20px;
}
.video{
    width:50%;
}
.shopnow{
    cursor: pointer;
    margin:20px 0;
    font-size: 25px;
    font-weight: 800;
    background-color:#212737;
    color: #FFAA05;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}