.main{
    display: flex;
    flex-direction: column;
    /* border:red solid 1px; */
    padding:30px;
    width:25%;
}

.filtersdiv,.genrediv{
    padding:0px 10px;
}

.genrediv{
    display: flex;
    flex-direction: column;
    margin-top:5px;
}