.main{
    /* border: red solid 1px; */
    margin-top:20px;
}

.maindiv{
    width:100%;
    display: flex;
    border-radius: 10px;
    margin:10px 0;
}

.hightolow,.lowtohigh{
    width:50%;
    text-align: center;
    font-weight: 500;
    background-color: white;
    color:#4073a7;
    cursor: pointer;
    padding:5px 10px;
    transition: 0.1s all ease-in;
}
.hightolow{
    border-radius:0px 5px 5px 0px;

}
.lowtohigh{
    border-radius:5px 0px 0px 5px;
}

.active{
    background-color: #4073a7;
    color:white;
}